world={{world}}
autocreate={{world_size}}
difficulty={{difficulty}}
password={{password}}
motd="{{Motd}}"
maxplayers={{maxplayers}}
worldname={{worldname}}
worldpath={{worldpath}}
secure={{security}}
language={{language}}